/*
** The Header Media Queries **
** Tweak as per your needs **
*/
.hover_underline_white:hover {
  text-decoration:underline white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.top_container {
  background-color:DodgerBlue;
  padding: auto;
}

.icon_button:hover {
  opacity: 1;
  box-sizing: border-box;
  background-color: LightSalmon;
}



.brand {
  font-weight: bold;
  font-size: 27px;
}

.header__top {
  background-color: #def7ff;
}

.header__top ul {
  display: flex;
}

.header__top li:not(:last-child) {
  margin-right: 1.5rem;
}

.header__top .header__start {
  display: none;
}

.header__middle {
  position: center;
  /* text-align: center; */
  /* background-color: #c7f2ff; */
}

.header__bottom {
  position: relative;
  background-color: #c7f2ff;
}

@media (max-width: 939px) {
  .header__bottom .header__end {
    order: -1;
  }
}

.header__wrapper {
  display: flex;
  /* justify-content: space-between; */
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 940px) {
  .header__wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 940px) {
  .header__top .header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.nav {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 940px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 939px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__item a {
  display: block;
  padding: 1.5rem 1.25rem;
}

.nav__item svg {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 1rem;
}

@media (min-width: 940px) {
  .nav__item svg {
    display: block;
    margin: 0 auto 0.5rem;
  }
}

.nav__item.active a {
  border-left-color: #222;
}

@media (min-width: 800px) {
  .nav__item.active a {
    border-bottom-color: #222;
  }
}

.nav__toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media (min-width: 940px) {
  .nav__toggle {
    display: none;
  }
}

.search {
  display: flex;
}

.search__toggle {
  appearance: none;
  order: 1;
  font-size: 0;
  width: 34px;
  height: 34px;
  background: url("../img/search.svg") center/22px no-repeat;
  border: 0;
}

@media (max-width: 939px) {
  .search__toggle {
    position: absolute;
    right: 5.5rem;
    top: 0.65rem;
  }
}

.search__toggle.active {
  background: url("../img/close.svg") center/22px no-repeat;
}

.search__form {
  display: none;
}

.search__form.active {
  display: block;
}

@media (max-width: 799px) {
  .search__form {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: red;
  }

  .search__form input {
    width: 100%;
  }
}

.search__form input {
  min-width: 200px;
  appearance: none;
  border: 0;
  background-color: #fff;
  border-radius: 0;
  font-size: 16px;
  padding: 0.5rem;
}

@media (max-width: 799px) {
  .search__form input {
    border-bottom: 1px solid #979797;
  }
}



.dropdown:hover .dropdown-hover {
  display: block;
}

.index-banner {
  display: block;
  text-align: center;
  border-radius: 10px;
  margin: 15px 0;
}

.announcement-div{
  max-height:300px;
  overflow: auto;
}

.left-banner-title{
  background-color:#8ab6c3;
  margin:0px;
}

.left-banner-innertitle{
  background-color:#c7f2ff;
  margin:0px;
}
