/*
** The Header Media Queries **
** Tweak as per your needs **
*/

.card-header a{
  color:white;
  text-align:center;
}


.hover_underline_white:hover {
  text-decoration:underline white;
}

.icon_button:hover {
  opacity: 1;
  box-sizing: border-box;
  background-color: LightSalmon;
}
.brand {
  font-weight: bold;
  font-size: 27px;
}

.site-header__top {
  background-color: #def7ff;
}

.site-header__top ul {
  display: flex;
}

.site-header__top li:not(:last-child) {
  margin-right: 1.5rem;
}

.site-header__top .site-header__start {
  display: none;
}

.site-header__bottom {
  position: relative;
  background-color: midnightblue;
  border-radius: 25px 25px 0px 0px;
}
#accordion{
  padding-left:30px;
  padding-top:15px;
}
@media (max-width: 1000px){
    #accordion{
        padding-left:0px;
        padding-top:0px;
    }
}

@media (max-width: 939px) {
  .site-header__bottom .site-header__end {
    order: -1;
  }
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 940px) {
  .site-header__wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 940px) {
  .site-header__top .site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.nav {
  margin-left: 1rem;
  margin-right: 1rem;

}


@media (min-width: 940px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 939px) {
  .nav__wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: row;
  }

  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.my_dropdown_style{
  background-color: blue;
}

.nav__item a:hover{
  background-color:black
}
.nav__item a:focus{
  background-color:black
}

.nav__item a {
  font-size: 19px;
  display: inline;
  margin: 0px;
  padding: 11px 1rem;
  border-right:solid black;
  border-width:thin;
  transition:  1s ease 0s;
}

.nav__item svg {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;

  margin-right: 1rem;
}

@media (min-width: 940px) {
  .nav__item svg {
    display: block;
    margin: 0 auto 0.5rem;
  }
}

.nav__item.active a {
  border-left-color: #222;
}

@media (min-width: 800px) {
  .nav__item.active a {
    border-bottom-color: #222;
  }
}

.nav__toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media (min-width: 940px) {
  .nav__toggle {
    display: none;
  }
}

.search {
  display: flex;
}

.search__toggle {
  appearance: none;
  order: 1;
  font-size: 0;
  width: 34px;
  height: 34px;
  background: url("../img/search.svg") center/22px no-repeat;
  border: 0;
}

@media (max-width: 939px) {
  .search__toggle {
    position: absolute;
    right: 5.5rem;
    top: 0.65rem;
  }
}

.search__toggle.active {
  background: url("../img/close.svg") center/22px no-repeat;
}

.search__form {
  display: none;
}

.search__form.active {
  display: block;
}

@media (max-width: 799px) {
  .search__form {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: red;
  }

  .search__form input {
    width: 100%;
  }
}

.search__form input {
  min-width: 200px;
  appearance: none;
  border: 0;
  background-color: #fff;
  border-radius: 0;
  font-size: 16px;
  padding: 0.5rem;
}

@media (max-width: 799px) {
  .search__form input {
    border-bottom: 1px solid #979797;
  }
}



.dropdown:hover .dropdown-hover {
  display: block;
}

.index-banner {
  display: block;
  text-align: center;
  border-radius: 10px;
  margin: 15px 0;
}

.announcement-div{
  max-height:300px;
  overflow: auto;
}

.left-banner-title{
  background-color:cadetblue;
  margin:0px;
}

.left-banner-innertitle{
  background-color:Ivory;
  margin:0px;
}
